* {
  padding: 0px;
  margin: 0px;
}
:root {
  /* --background-color: #171120; */
  --orange: #ff7900;
  --yellow: #ffdd4d;
  --sky-blue:#3ed3fd;
  --light-green:#28d9c7;
  --button-text: black;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  --border-radius: 30px;
  --card-radius:20px;
}
body {
  /* background-color: var(--background-color); */
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
}
