* {
  padding: 0px;
  margin: 0px;
}
:root {
  --background-color: white;
  --primary: #4b556b;
  --secondary: #7076fe;
  --gray-color: #d6d6d6;
  --button-text: white;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  --shadow-text: black;
}
body {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}
