.carousel-container * {
  box-sizing: border-box;
}
.padding-20 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}

[class*="col-"] {
  padding: 10px;
}
.team-cards {
  box-shadow: var(--shadow);
  height: 150px;
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
}
.team-name {
  font-family: "Poppins";
  font-weight: 500;
 
}

@media screen and (max-width: 800px) {
  .container {
    padding: 10px;
  }
}
