.carousel-container * {
  box-sizing: border-box;
}
.padding-20 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}

p {
  font-size: 14px;
  text-align: justify;
}

[class*="col-"] {
  padding: 10px;
}

.card {
  width: 100%;
  background-color: #fff;

  display: flex;

  box-shadow: var(--shadow)
}
.card-text {
  width: 100%;
  padding: 15px;
}

h3 {
  padding-left: 10px;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 10px;
  }
}
