.contact-container {
  padding-left: 20px;
  padding-right: 40px;
  margin-top: 30px;
}
.submit-button {
  color:var(--text-white);
  background-color: var(--blue);

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: none;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  box-shadow: var(--shadow);
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-us span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px;
}
.contact-us-icon {
  background-color: var(--blue);
  box-shadow: var(--shadow);
}
.contact-us {
  margin-bottom: 20px;
  display: flex;
}
