.find-us span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px;
}

.find-us {
  margin-bottom: 20px;
  display: flex;
}

.find-us-icon {
  background-color: var(--blue);
  box-shadow: var(--shadow);
 
}

.find-us-icons-container {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.find-us-avatar {
  padding: 5px;
  background-color: var(--blue);
}
.icons-title{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;

}
