.home {
  padding-left: 20px;
  padding-right: 20px;
  
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 992px) {
  .home {
    padding-left: 0px;
    padding-right: 0px;
    
  }
}

.background-color {
  background-color: var(--secondary);
  height: 100%;
}
