.home {
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}

.background-color {
  background-color: var(--secondary);
  height: 90vh;
}
@media screen and (max-width: 992px) {
  .home {
    padding-left: 0px;
    padding-right: 0px;
    height: 80vh; /* Decreased height for small screens */
  }

  .background-color {
    background-color: var(--secondary);
    height: 50vh; /* Decreased height for small screens */
  }
}
