.login-content {
  display: flex;
  flex-direction: column;
}
.login-text {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins";
  margin-bottom: 20px;
}
.label-text {
  font-family: "Poppins";
}
.login-textfield {
  margin-bottom: 20px;
}
.forgot-password {
  text-decoration: none;
  margin-bottom: 10px;
  color: var(--blue);
  font-weight: 600;
  font-family: "Poppins";
}
.login-button {
  color: var(--text-white);
  background-color: var(--blue);
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: none;

  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  box-shadow: var(--shadow);
}
.center-button {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  width: 100%; /* Ensure the div takes the full width of its container */
margin-top: 20px;
}

