.person1 {
  height: 340px;
  border-radius: 0px;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.team-name {
  color: var(--text-color);

  font-family: "Poppins";
}
.person2 {
  height: 160px;

  border-radius: 0px;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.person3 {
  height: 160px;
  border-radius: 0px;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}

.my-team-xl-card {
  box-shadow: var(--card-shadow);
}
.my-team span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px;
}
.my-team {
  margin-bottom: 20px;
  display: flex;
}
.group {
  background-color: var(--blue);
  box-shadow: var(--shadow);
}
.team-content {
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .my-team span {
    font-weight: 600;

    font-size: 20px;
  }
}
