.team-card {
  font-size: 164px;
  width: 100%;
  height: 400px;
  display: flex;

  justify-content: center;
  background: white;

  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.team-card-container {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover; 
}

