.person1 {
  height: 340px;
  
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.team-name {
  color: var(--gray-text);
  font-weight: 600;
  font-family: "Poppins";
}
.person2 {
  height: 160px;
  
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.person3 {
  height: 160px;
 
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}

.my-team-xl-card {
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}
.my-team span {
  font-weight: 700;

  color: var(--gray-text);
  font-family: "Poppins";
  padding: 5px;
}
.my-team {
  margin-bottom: 20px;
  display: flex;
}
.group {
  background-color: var(--orange);
  box-shadow: var(--card-shadow);
}
.team-content {
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .my-team span {
    font-weight: 600;

    font-size: 18px;
  }
}
