.saif-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  justify-content: space-between;
}
.saif-coaching {
  color: black;
  background-color: #ff7900;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  padding: 10px;
  box-shadow: var(--shadow);
}
