.saif-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  justify-content: space-between;
}
.saif-coaching {
  color: var(--text-white);
  background-color: var(--blue);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  padding: 10px;
  box-shadow: var(--shadow);
}

/* Add media queries for responsive design */
@media (min-width: 1280px) {
  .responsive-dialog {
    width: 40% !important;
    max-width: none !important;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .responsive-dialog {
    width: 40% !important;
    max-width: none !important;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .responsive-dialog {
    width: 80% !important;
    max-width: none !important;
  }
}

@media (max-width: 599px) {
  .responsive-dialog {
    width: 100% !important;
    max-width: none !important;
  }
}
