.saif-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  justify-content: space-between;
}
.saif-coaching {
  color: var(--button-text);
  background-color: var(--orange);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  padding: 10px;
  box-shadow: var(--shadow);
}
