.physics {
  height: 200px;
  border-radius: 0px;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.subject-name {
  color: var(--text-color);
  font-weight: 600;
  font-family: "Poppins";
}
.subject-name-english {
  color: var(--text-color);
  font-weight: 600;
  font-family: "Poppins";
  margin-top: 20px;
}
.math {
  height: 150px;
  border-radius: 0px;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.chemistry {
  height: 150px;
  border-radius: 0px;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}

.english {
  height: 200px;
  border-radius: 0px;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.xl-card {
  border-radius: 0px;
  box-shadow: var(--card-shadow);
}
.teach span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px;
}
.teach {
  margin-bottom: 20px;
  display: flex;
}
.menu-book {
  background-color: var(--blue);
  box-shadow: var(--shadow);
}
.english-avatar {
  background-color: var(--blue);
  padding: 20px;
  width: 90px;
  height: 90px;
  margin: auto;
}
.math-avatar{
  background-color: var(--blue);
  padding: 10px;
  width: 80px;
  height: 80px;
  margin: auto;
}
.avatar-lg {
  background-color: var(--blue);
  padding: 20px;
  width: 90px;
  height: 90px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .teach span {
    font-weight: 600;

    font-size: 18px;
  }
}
