.physics {
  background-color: var(--light-green);
  height: 200px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.subject-name {
  color: #696969;
  font-weight: 600;
  font-family: "Poppins";
}
.math {
  background-color: var(--sky-blue);
  height: 150px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.chemistry {
  background-color: var(--yellow);
  height: 150px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}

.english {
  background-color: var(--light-red);
  height: 200px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}