.physics {
  background-color: var(--light-green);
  height: 200px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.subject-name {
  color: var(--gray-text);
  font-weight: 600;
  font-family: "Poppins";
}
.math {
  background-color: var(--sky-blue);
  height: 150px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.chemistry {
  background-color: var(--yellow);
  height: 150px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}

.english {
  background-color: var(--light-red);
  height: 200px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.xl-card {
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}
.teach span {
  font-weight: 700;

  color: var(--gray-text);
  font-family: "Poppins";
  padding: 5px;
}
.teach {
  margin-bottom: 20px;
  display: flex;
}
.menu-book {
  background-color: var(--orange);
  box-shadow: var(--card-shadow);
}
@media screen and (max-width: 600px) {
.teach span {
  font-weight: 600;

  font-size: 18px;
}
}