.performer-container * {
  box-sizing: border-box;
  
}

.performer-20 {
 
  margin-top: 30px;
}

[class*="col-"] {
  padding: 10px;
}
.performer-cards {
  box-shadow: var(--shadow);
  height: 350px;
  
  
  border-radius: 0px;
}
.team-name {
  font-family: "Poppins";
  font-weight: 600;
 
}


.top-performer span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px;
}
.top-performer-icon {
  background-color: var(--blue);
  box-shadow: var(--shadow);
}
.top-performer {
  margin-bottom: 20px;
  display: flex;
  padding-left: 5px;
}
.performer-name {
  font-family: "Poppins";
  font-weight: 600;
}

.performer-name span {
  color:#8a8a8a;
  display: block;
  float: right;
  clear: right; /* Clears the float to prevent elements from wrapping */
  margin-right: 10px; /* Adjust as needed */
}

@media screen and (max-width: 800px) {
  .container {
    padding: 10px;
  }
}