.what {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.para {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.about {
  padding: 5px;
  background-color: var(--primary);
  color: white;
  padding: 16px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.cards {
  border-radius: 0px;
}
.subject-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.about:hover {
  background-color: var(--button-hover);
  color: var(--primary);
}

@media screen and (max-width: 992px) {
  .what {
    font-size: 20px;

    font-weight: 600;
  }
}
